@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./header.css);
@import url(./about.css);
@import url(./services.css);
@import url(./strategy.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

.title,
.subtitle {
  font-family: "Anton", sans-serif;
  font-size: 45px;
}

p {
  font-size: 18px;
}

:root {
  --title: #fa95af;
  --text: #e0d6de;
  --black: #000;

  --background-one: #1f1f1f;
  --background-two: #fa95ae;
  --background-three: #1f1f1fcc;
}

a {
  text-decoration: none;
  color: var(--black);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb:active {
  background-color: #333;
}
